<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">


	<servlet>
		<servlet-name>reg</servlet-name>
		<servlet-class>pl.wap.expenses.Registration</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>reg</servlet-name>
		<url-pattern>/registration</url-pattern>
	</servlet-mapping>
	

	<servlet>
		<servlet-name>log</servlet-name>
		<servlet-class>pl.wap.expenses.Login</servlet-class>
	</servlet>

	<servlet>
		<description>
		</description>
		<display-name>ExpensesAction</display-name>
		<servlet-name>ExpensesAction</servlet-name>
		<servlet-class>pl.wap.expenses.ExpensesAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>IncomeAction</display-name>
		<servlet-name>IncomeAction</servlet-name>
		<servlet-class>pl.wap.expenses.IncomeAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CategoryAction</display-name>
		<servlet-name>CategoryAction</servlet-name>
		<servlet-class>pl.wap.expenses.CategoryAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CategoryIncome</display-name>
		<servlet-name>CategoryIncome</servlet-name>
		<servlet-class>pl.wap.expenses.CategoryIncome</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogoutAction</display-name>
		<servlet-name>LogoutAction</servlet-name>
		<servlet-class>pl.wap.expenses.LogoutAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AuthorizationAction</display-name>
		<servlet-name>AuthorizationAction</servlet-name>
		<servlet-class>pl.wap.expenses.AuthorizationAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ExpensesDeleteAction</display-name>
		<servlet-name>ExpensesDeleteAction</servlet-name>
		<servlet-class>pl.wap.ExpensesDeleteAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ExpensesCategoryDelete</display-name>
		<servlet-name>ExpensesCategoryDelete</servlet-name>
		<servlet-class>pl.wap.ExpensesCategoryDelete</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangePassword</display-name>
		<servlet-name>ChangePassword</servlet-name>
		<servlet-class>pl.wap.authorization.ChangePassword</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BudgetCreate</display-name>
		<servlet-name>BudgetCreate</servlet-name>
		<servlet-class>pl.wap.BudgetCreate</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BudgetDelete</display-name>
		<servlet-name>BudgetDelete</servlet-name>
		<servlet-class>pl.wap.BudgetDelete</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BudgetUpdate</display-name>
		<servlet-name>BudgetUpdate</servlet-name>
		<servlet-class>pl.wap.BudgetUpdate</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteAccount</display-name>
		<servlet-name>DeleteAccount</servlet-name>
		<servlet-class>pl.wap.authorization.DeleteAccount</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ExpensesDataByID</display-name>
		<servlet-name>ExpensesDataByID</servlet-name>
		<servlet-class>pl.wap.expenses.ExpensesDataByID</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ExpensesData</display-name>
		<servlet-name>ExpensesData</servlet-name>
		<servlet-class>pl.wap.expenses.ExpensesData</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>IncomeData</display-name>
		<servlet-name>IncomeData</servlet-name>
		<servlet-class>pl.wap.incomes.IncomeData</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>IncomeUpdate</display-name>
		<servlet-name>IncomeUpdate</servlet-name>
		<servlet-class>pl.wap.incomes.IncomeUpdate</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BudgetData</display-name>
		<servlet-name>BudgetData</servlet-name>
		<servlet-class>pl.wap.budgets.BudgetData</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BudgetUpdates</display-name>
		<servlet-name>BudgetUpdates</servlet-name>
		<servlet-class>pl.wap.budgets.BudgetUpdate</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>log</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ExpensesAction</servlet-name>
		<url-pattern>/ExpensesAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IncomeAction</servlet-name>
		<url-pattern>/IncomeAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CategoryAction</servlet-name>
		<url-pattern>/CategoryAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CategoryIncome</servlet-name>
		<url-pattern>/CategoryIncome</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutAction</servlet-name>
		<url-pattern>/LogoutAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuthorizationAction</servlet-name>
		<url-pattern>/AuthorizationAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExpensesDeleteAction</servlet-name>
		<url-pattern>/ExpensesDeleteAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExpensesCategoryDelete</servlet-name>
		<url-pattern>/ExpensesCategoryDelete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePassword</servlet-name>
		<url-pattern>/ChangePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BudgetCreate</servlet-name>
		<url-pattern>/BudgetCreate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BudgetDelete</servlet-name>
		<url-pattern>/BudgetDelete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BudgetUpdate</servlet-name>
		<url-pattern>/BudgetUpdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteAccount</servlet-name>
		<url-pattern>/DeleteAccount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExpensesData</servlet-name>
		<url-pattern>/ExpensesData</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IncomeData</servlet-name>
		<url-pattern>/IncomeData</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IncomeUpdate</servlet-name>
		<url-pattern>/IncomeUpdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BudgetData</servlet-name>
		<url-pattern>/BudgetData</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BudgetUpdates</servlet-name>
		<url-pattern>/BudgetUpdates</url-pattern>
	</servlet-mapping>

	

	
</web-app>
